/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/04/2019, 1:56:50 AM
    Author     : Alex
*/

#appTitle
{
    align-content:center;
    color:hsl(214, 90%, 52%);
    font-size:3.00rem;
}

#main-layout
{
    text-align: center;
}

v-Notification
{
    color:red !important;
    background-color: black;
}

#background
{
    background-color: #cac6c66e;
}
 /*
    background-color:hsl(199, 4%, 30%);
 */

.w3-display-container{position:relative}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}