/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/04/2019, 6:38:01 PM
    Author     : Alex
*/

#imgBkg
{
    background: url(../img/road2.jpg)no-repeat;
    min-height:100% !important;
    background-size: cover;
    background-color: lightgrey;
    background-position: center;
    z-index: -999;
}

#textSpace
{
    display: inline-block;
    background-color: #33404fb0;

}

#homePageText1
{
    font: italic 7.2em "Fira Sans", serif;
    color: white;
}


#homePageText2
{
    
    font: italic 4.2em "Fira Sans", serif;
    color:white;
}

#f_icon
{
    color: #395599;
}
#t_icon
{
    color:#1c9deb;
   
}

#y_icon
{
    color: hsl(0, 100%, 50%);
    
}

.m_icons
{
    padding:29px;
    opacity: 1;
}

#iconGroup
{
     background-color: #33404fb0;;
    display: inline-table;
    width: 20%;

}

#footer
{
      background-color: #191a1d;
    position: fixed;
    top: 92% !important;
    width: 100%;
    color:white;
}
