/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/04/2019, 3:28:50 AM
    Author     : Alex
*/

#loginForm
{
    padding:10px;
}
