/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/04/2019, 2:35:48 AM
    Author     : Alex

#logo
{
     background: url(../img/mijdas.png)no-repeat;
}
*/

#navbar
{
    /*thought this was a bit too bright*/
   /*background-color: hsla(211, 100%, 50%, 0.86);*/
   background-color: hsla(211, 70%, 50%, 0.86);
   text-align: center;
   padding:10px;
   
}
.navElement
{
    color:white;
    padding:10px;
}
.logoutElement
{
    color:white;
    /*padding:10px;*/
}
.logoutElement:hover{background-color:#0067C6!important}

#logo
{
    background: url(../img/mijdas.png);
    background-size: cover;
}
