/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/04/2019, 3:47:37 PM
    Author     : Alex
*/

/*#registerView{}


#registerForm{display:inherit;}

#profileForm{display:-webkit-inline-box;}

#passwordMatch{}*/
.registerView{}
.registerForm{display:inherit;}
.profileForm{display:-webkit-inline-box;}
.passwordMatch{}
.v-textfield
{
  border: dashed green;
  border:     thin dashed;
}
.userButton
{
    padding:50px;
    box-shadow: -2px 1px 10px 0px;
    display:inline-flex;
    width: 50%;
    background-color: #7ac2ff38  !important;
}
.directive1{width: 56%;align-self: end;}
 
.backButton1{}
 
.directiveText{display:-webkit-inline-box;width:26%;}
/* #directive1{width: 56%;align-self: end;}
 
 #backButton1{}
 
 #directiveText{display:-webkit-inline-box;width:26%;}*/
    